[default]

debug = False
benchmark = False
epochs = 80
first_mod = resnet18

redirect_out = False

log_interval = 50

dataset_train = CUB_200_2011_train
dataset_val = CUB_200_2011_train
dataset_test = CUB_200_2011_test

train_prop = 90

prop_set_int_fmt = True

dropout = 0.5

lr = 0.001
num_workers = 4
momentum = 0.9
seed = 1
nll_weight = 1
aux_mod_nll_weight = 0

model_id= model1
exp_id = default

cuda = True
multi_gpu = False
optim = SGD
start_mode = scratch
init_path = None
init_pn_path = None
note = None
val_batch_size = 1
batch_size = 10

class_nb = 200

second_mod = linear
lstm_lay = 2
lstm_hid_size = 1024

maximise_val_metric = True
metric_early_stop = Accuracy
max_worse_epoch_nb = 30
run_test = True

no_train = False
exp_id_no_train = default
model_id_no_train = model1

strict_init = True

pretrained_visual = True

pn_topk = False
sobel = False
pn_topk_attention = False
pn_topk_softcoord = False
pn_topk_softcoord_shiftpred = False
pn_topk_softcoord_kersize = 5
pn_topk_softcoord_secorder = True
pn_point_nb = 256
pn_reconst_weight = 0
pn_topk_reconst = False
pn_topk_hid_chan = 64
pn_topk_enc_chan = 1
pn_topk_pred_depth= False
pn_topk_farthest_pts_sampling = False
pn_topk_fps_nb_points = 64
pn_use_xyz = True
pn_topk_dropout = 0
pn_aux_model=False
pn_topk_rand_sampling = False
pn_topk_rs_unif_weight = 0

resnet_simple_att_topk = False
resnet_simple_att_topk_pxls_nb = 256

resnet_chan = 64
resnet_stride = 2
resnet_dilation = 1
resnet_att_chan = 16
resnet_att_blocks_nb = 1
resnet_att_act_func = sigmoid
resnet_multi_model = False
resnet_multi_model_sparse_const = False
resnet_layer_size_reduce = True
resnet_prelay_size_reduce = True
resnet_simple_att = False

distrib = True
distrib_size = 1
