[default]

debug = False
epochs = 80
feat = resnet50

redirect_out = False
resize_image = True

log_interval = 50

tr_len = 4
val_l = 425
val_l_temp = 150
min_phase_nb = 6

img_size = 224
orig_img_size = 500

dataset_train = big+small
dataset_val = big+small
dataset_test = big+small

train_part_beg = 0
train_part_end = 80

val_part_beg = 80
val_part_end = 90

test_part_beg = 90
test_part_end = 100

prop_set_int_fmt = True

dropout = 0.5

lr = 0.001
num_workers = 4
momentum = 0.9
seed = 1

model_id= model1
exp_id = default

cuda = True
multi_gpu = False
optim = SGD
start_mode = scratch
init_path = None
note = None
val_batch_size = 1
batch_size = 10
train_step_to_ignore = 0

class_nb = 16
compute_metrics_during_eval = True

temp_mod = linear
lstm_lay = 2
lstm_hid_size = 1024

augment_data = False

score_conv_ker_size = 7
score_conv_bilay = True
score_conv_chan = 8
score_conv_attention = False

regression = False
uncertainty = False
uncer_loss_type = MSE
uncer_exact_inf_div = True
uncert_inf_div_weight = 0
uncer_ll_ratio_weight = 1
uncer_max_adv_entr_weight = 0

maximise_val_metric = True
metric_early_stop = Accuracy
max_worse_epoch_nb = 30
run_test = True

comp_feat = False
no_train = False
exp_id_no_train = default
model_id_no_train = model1

strict_init = True
mask_time = False
