[default]

debug = False
benchmark = False
epochs = 300
first_mod = resnet18
save_all = True

redirect_out = False

log_interval = 50

dataset_train = CUB_200_2011_train
dataset_val = CUB_200_2011_train
dataset_test = CUB_200_2011_test
with_seg=True
repr_vec=False
repr_vec_in_drop=0

train_prop = 90

prop_set_int_fmt = True

dropout = 0.5

lr = 0.001
num_workers = 4
momentum = 0.9
weight_decay = 0
use_scheduler = False
seed = 1
nll_weight = 1
aux_mod_nll_weight = 0

model_id= base
exp_id = CUB4

cuda = True
multi_gpu = True
optim = SGD
start_mode = auto
init_path = None

note = None
val_batch_size = 64
batch_size = 32

class_nb = 200

second_mod = linear
hid_lay=False
maximise_val_metric = True
metric_early_stop = Accuracy
max_worse_epoch_nb = 1000
run_test = True

no_train = False
exp_id_no_train =
model_id_no_train =
no_val = False
freeze_visual=False

strict_init = True

pretrained_visual = True

sobel = False
old_preprocess = True
moredataaug_preprocess = False
ws_dan_preprocess=False
upscale_test=False

aux_model=False

zoom = False
zoom_nll_weight = 0
zoom_max_sub_clouds=2
zoom_merge_preds=False
zoom_tied_models=True
zoom_model_no_topk=False

drop_and_crop=False
crop_nll_weight=0
drop_nll_weight=0

supervised_segm_weight=0

big_images = False

resnet_simple_att_topk = False
resnet_simple_att_topk_pxls_nb = 256
resnet_simple_att_topk_enc_chan = -1

resnet_simple_att_topk_sagpool=False
resnet_simple_att_topk_sagpool_drop=True
resnet_simple_att_topk_sagpool_ratio=0.5

resnet_simple_att_pred_score=False
resnet_simple_att_score_pred_act_func=sigmoid
resnet_chan = 64
resnet_stride = 2
resnet_dilation = 1
resnet_replace_str_by_dil=False
resnet_att_chan = 16
resnet_att_blocks_nb = 1
resnet_att_act_func = sigmoid
resnet_layer_size_reduce = False
resnet_prelay_size_reduce = True
resnet_simple_att = False
resnet_bilinear = False
resnet_bil_nb_parts = 3
bil_backgr_weight=0
bil_backgr_thres=0.3
bil_center_loss=False
bil_center_loss_beta=0.05
center_loss_weight=0
bil_cluster=False
bil_cluster_ensemble=False
bil_cluster_ensemble_gate=False
bil_cluster_ensemble_gate_drop=False
bil_cluster_norefine=False
bil_cluster_randvec=False
apply_softmax_on_sim=False
softm_coeff=1
bil_clus_soft_sched=False
bil_clust_unnorm=False
bil_clus_vect_gate=False
bil_clus_vect_ind_to_use=all
bil_clust_update_sco_by_norm_sim=False
bil_norm_feat=False
resnet_apply_stride_on_all = False
resnet_replace_by_1x1 = False

distributed=False
distrib_size = 1

normalize_data = True


reduced_img_size = 224
norm_points=True


relu_on_last_layer=True

do_test_again=True
compute_latency = True
only_test=False

multi_level_feat=False
multi_level_feat_outchan=64
multi_level_feat_cat=False

deeplabv3_outchan=64
