[default]

debug = False
epochs = 10
feat = resnet50

redirect_out = False
resize_image = True

log_interval = 50

tr_len = 25
val_l = 150
val_l_temp = 300

img_size = 500

train_part_beg = 0
train_part_end = 0.8

val_part_beg = 0.8
val_part_end = 0.9

test_part_beg = 0.9
test_part_end = 1

dropout = 0.5

lr = 0.001
num_workers = 4
momentum = 0.9
seed = 1

model_id= model1
exp_id = default

cuda = True
multi_gpu = False
optim = SGD
start_mode = scratch
init_path = None
note = None
val_batch_size = 1
batch_size = 1
train_step_to_ignore = 0

class_nb = 15
compute_val_metrics = True

temp_mod = linear
lstm_lay = 2
lstm_hid_size = 1024

augment_data = False

score_conv_ker_size = 3
score_conv_bilay = False
score_conv_chan = 8
score_conv_attention = False

regression = False
maximise_metric = True
comp_feat = False
no_train = False
exp_id_no_train = default
model_id_no_train = model1
