[default]

debug = False
benchmark = False
epochs = 1
first_mod = resnet18
save_all = True

redirect_out = False

log_interval = 50

dataset_train = CUB_200_2011_train
dataset_val = CUB_200_2011_train
dataset_test = CUB_200_2011_test

train_prop = 90

prop_set_int_fmt = True

dropout = 0.5

lr = 0.001
num_workers = 4
momentum = 0.9
weight_decay = 0
use_scheduler = False
seed = 1
nll_weight = 1
aux_mod_nll_weight = 0

model_id= model1
exp_id = default

cuda = True
multi_gpu = False
optim = SGD
start_mode = auto
init_path = None
init_pn_path = None
note = None
val_batch_size = 1
batch_size = 1

class_nb = 200

second_mod = linear

maximise_val_metric = True
metric_early_stop = Accuracy
max_worse_epoch_nb = 30
run_test = True

no_train = False
exp_id_no_train = default
model_id_no_train = model1

strict_init = True

pretrained_visual = True

pn_topk = False
sobel = False
old_preprocess = True
moredataaug_preprocess = False
pn_topk_attention = False
pn_point_nb = 256
pn_enc_chan = 64

pn_topk_farthest_pts_sampling = False
pn_topk_fps_nb_points = 64
pn_aux_model=False

pn_reinf_weight = 0
pn_has_linear_prob = False
pn_reinf_use_baseline = False
pn_topk_euclinorm = True
pn_reinf_weight_baseline = 0
pn_reinf_score_reward = False
pn_train_reinf_linear_only = False
pn_clustering = False
zoom = False
zoom_nll_weight = 0
big_images = False

resnet_simple_att_topk = False
resnet_simple_att_topk_pxls_nb = 256
resnet_simple_att_topk_enc_chan = -1

resnet_chan = 64
resnet_stride = 2
resnet_dilation = 1
resnet_att_chan = 16
resnet_att_blocks_nb = 1
resnet_att_act_func = sigmoid
resnet_multi_model = False
resnet_multi_model_sparse_const = False
resnet_layer_size_reduce = True
resnet_prelay_size_reduce = True
resnet_simple_att = False
resnet_apply_stride_on_all = False
resnet_replace_by_1x1 = False

distrib = True
distrib_size = 1

normalize_data = True

pn_cannyedge = False
pn_cannyedge_sigma = 2
pn_patchsim = False
pn_patchsim_patchsize = 5
pn_patchsim_groupnb = 4
pn_patchsim_neiref=False
pn_patchsim_neiref_nbiter=6
pn_patchsim_neiref_softm=True
pn_patchsim_neiref_softmfact=10
pn_patchsim_neiref_weibysim=True
pn_patchsim_neiref_neirad=1
pn_topk_no_feat=False
pn_patchsim_randmod = True
reduced_img_size = 224
norm_points=False
pn_topk_sagpool=False
pn_topk_sagpool_pts_nb=64
pn_topk_puretext=False
pn_topk_puretext_pts_nb_fact=4

relu_on_last_layer=False
